* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	position: relative;
}

/* Mobile Styles */

@media only screen and (min-width: 320px) and (max-width: 665px) {
	.menu-container {
		display: flex;
	}
	.btn_delete {
		margin: 8px 0;
	}
}

@media screen and (max-width: 665px) {}

@media screen and (max-width: 1090px) {
	.top-bar .top-container {
		margin: 0;
	}
}

@media only screen and (max-width: 1090px) {
	.top-bar .btn {
		padding-left: 24px;
	}
}

/* Desktop Styles */

@media only screen and (max-width: 980px) {
	.top-bar .search-bar input[type="text"].search-input {
		font-size: 12px;
	}
}

.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	padding-left: 8px;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

@media (min-width: 576px) {
	.row {
		margin-right: -15px;
		margin-left: -15px;
	}
}

@media (min-width: 768px) {
	.row {
		margin-right: -15px;
		margin-left: -15px;
	}
}

@media (min-width: 992px) {
	.row {
		margin-right: -15px;
		margin-left: -15px;
	}
}

@media (min-width: 1200px) {
	.row {
		margin-right: -15px;
		margin-left: -15px;
	}
}

.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 576px) {
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media (min-width: 768px) {
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media (min-width: 992px) {
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media (min-width: 1200px) {
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
}

.top-bar {
	position: fixed;
	min-width: auto;
	box-shadow: 0 1px 0;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1050;
	background-color: dodgerblue;
	height: 50px;
}

.top-bar .top-container {
	max-width: 1264px;
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.top-bar .main {
	height: 100%;
	flex-shrink: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.top-bar .brand_name {
	padding: 0 8px;
	height: 100%;
	display: flex;
	flex: 1 0 auto;
	align-items: center;
}

.brand_name {
	font-family: 'Lobster', cursive;
	/* font-family: 'Lobster Two', cursive; */
	font-size: 28px;
	color: #000000a9;
	margin-right: 2rem;
}

.top-bar .search-bar {
	max-width: 364px;
	padding: 0 0 12px;
	flex: 1000 1 auto;
	position: relative;
}

.search_div {
	position: relative !important;
}

.top-bar .search-bar input[type="text"].search-input {
	border-width: 1px;
	/* margin: 0; */
	margin-top: 14px;
	align-items: center;
	height: 36px;
	border-color: #c8ccd0;
	border-radius: 3px;
	width: 100%;
	background-color: #fff;
	color: #3b4045;
}

input[type="text"].search-input {
	flex: 1 auto;
	padding: 8px 16px;
	min-height: auto;
	vertical-align: middle;
	border: 1px solid;
	line-height: 1;
	align-items: center;
}

.top-bar .search-bar.search-btn {
	font-weight: normal;
	color: #fff;
	background: #2196f3;
	border: 1px solid #07c;
	height: 36px;
	border-radius: 3px;
	/* z-index: -1; */
	cursor: pointer;
	/* width: 20%;
	padding: 10px;
	font-size: 16px;
	border-radius: 4px;
	border-left: none;
	cursor: pointer; */
}

form.search-btn button:hover {
	background: #0b7dda;
}

.top-bar .btn {
	height: 100%;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
	flex-grow: 1;
	justify-content: flex-end;
}

.top-bar .btn .btn-link {
	padding-left: 4px;
	white-space: nowrap;
}

.top-bar .btn .btn-link .login-signup {
	font-weight: normal;
	background: none;
	background-color: rgb(2, 117, 216);
	border: 1px solid #07c;
	border-radius: 4px;
	box-shadow: none;
	color: #fff;
}

.login-signup {
	position: relative;
	padding: 0.8em;
	outline: none;
	font-family: inherit;
	line-height: 1;
}

.hover a:hover {
	color: rgb(193, 60, 197);
}

.search-form {
	margin-left: auto;
}

form.search-form input[type=text] {
	padding: 10px;
	font-size: 16px;
	border: 1px solid grey;
	border-radius: 4px;
	float: left;
	width: 80%;
	background: #f1f1f1;
}

form.search-form::after {
	content: "";
	clear: both;
	/* display: table; */
}

.btn {
	display: inline-block;
	padding: .75em;
	text-align: center;
	color: #fff;
	font-size: 14px;
}

.logout {
	color: #fff;
	font-size: 14px;
}

#login-container .form {
	width: 400px;
	margin: 0 auto;
	padding: 30px;
	border: 1px solid #e4e6e8;
	background: #fff;
	margin-top: 20vh;
	border-radius: 6px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

#signup-container .form {
	text-align: center;
	width: 400px;
	margin: 0 auto;
	margin-top: 20vh;
	padding: 30px;
	border: 1px solid #e4e6e8;
	border-radius: 6px;
	background: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	/* margin-bottom: 20px; */
}

#addQuestion-container {
	padding: 40px;
}

.main-container {
	width: auto;
	float: none;
	margin-bottom: 20px;
}

.question-container {
	display: flex;
	padding: 20px;
	margin-top: 36px;
}

h2.question-title {
	font: inherit;
	font-size: 1.7em;
	flex: 1 auto !important;
}

.ask-link {
	background-color: rgb(2, 117, 216);
	border-color: #07c;
	border-radius: 3px;
	outline: none;
	color: #fff;
	position: relative;
	padding: 0.8em;
	border: 1px solid transparent;
	font-family: inherit;
	cursor: pointer;
	display: inline-flex !important;
	white-space: nowrap !important;
	align-items: center !important;
}

.content_left .questions_summary {
	/* width: 100%; */
	padding-left: 8px;
}

.questions_summary {
	display: flex;
	padding: 12px 8px;
	float: none;
	margin-top: 12px;
	border-bottom: 1px solid #eff0f1;
}

.stats_container {
	margin-right: 16px;
	/* margin-left: 4px; */
	width: 58px;
	float: none;
	flex-shrink: 0;
}

.questions_summary .stats .views {
	margin-left: 0;
}

.stats {
	margin: 0;
	width: 58px;
}

.vote {
	text-align: center;
}

.stats_container .votes {
	color: #6a737c;
	font-size: 12px;
}

.votes {
	padding: 0;
	margin-bottom: 8px;
	text-align: center;
}

.vote span {
	display: block;
	color: #6a737c;
}

.vote_count_post {
	font-size: 20px;
	margin: 0 0 3px;
}

.vote_count_post strong {
	font-weight: normal;
	color: #6a737c;
}

.status.answered strong {
	color: #fff;
	border-color: rgba(69, 161, 99, 0.5);
}

.stats_container .status {
	padding: 7px 0 5px;
	border-radius: 4px;
	font-size: 12px;
}

.answered {
	border: 1px solid #45a145;
	background-color: #45a145;
	color: #fff;
}

.status {
	margin-bottom: 8px;
	text-align: center;
}

.stats_container .status strong {
	font-size: 20px;
	font-weight: normal;
}

.status strong {
	display: block;
}

.stats_container .views {
	width: 58px;
}

.views {
	padding-top: 4px;
	text-align: center;
	/* color: rgb(180, 180, 67); */
	color: #dd6e23;
}

.summary {
	flex: 1 auto;
	width: auto;
	float: none;
	margin: 0;
	overflow: hidden;
}

.question_link {
	color: #07c;
	line-height: 1.3;
	font-size: 16px;
	font-weight: 400;
}

.questions_summary .posts h3 {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}

.questions {
	border-bottom: 1px solid #eff0f1;
	margin-top: 10px;
}

h3 {
	margin: 0 0 1em;
}

.summary h3 {
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: .5em;
}

.posts {
	/* display: flex; */
	/*	align-items: center; */
	padding: 0;
	margin-bottom: 5px;
	margin: 0;
	color: #3b4045;
}

.tags {
	line-height: 18px;
	float: left;
	margin-top: 10px;
	display: flex;
}

.post_tag {
	font-size: 12px;
	color: #39739d;
	background-color: #e1ecf4;
	border-color: #e1ecf4;
	position: relative;
	display: inline;
	padding: .4em .5em;
	margin: 2px 2px 2px 0;
	line-height: 1;
	white-space: nowrap;
	text-align: center;
	border: 1px solid;
	border-radius: 3px;
}

h4 {
	margin-top: 20px;
	color: #242729;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 1em;
}

#sidebar {
	margin-bottom: 16px;
}

.related_link {
	padding-left: 20px;
}

.answered_accepted {
	border: 1px solid transparent;
	background-color: #5fba7d;
	color: #fff;
	padding: 0 2px;
	border-radius: 2px;
}

.question_hyperlink {
	/* display: inline-block; */
	/* margin-left: 20px; */
	padding-top: 4 px;
	/* margin-bottom: 8px; */
	color: #07c;
}

.form-group {
	margin-top: 12px;
	display: flex;
	margin-bottom: 1rem;
	position: relative;
	left: 10%;
}

.form-control {
	display: flex;
	width: 80%;
	padding: 0.70rem 0.75rem;
	font-size: 1rem;
	line-height: 1.25;
	border-radius: 0.28rem;
}

.form-check {
	position: relative;
	display: flex;
}

a {
	text-decoration: none;
	color: #07c;
	cursor: pointer;
}

.btn-primary {
	display: flex;
	justify-content: center;
	border: none;
	width: 35%;
	border-radius: 4px;
	color: rgb(255, 255, 255);
	background-color: rgb(2, 117, 216);
	padding: 15px 32px;
	font-size: 16px;
	position: relative;
	left: 20%;
	margin-top: 20px;
}

/* SIGNUP FORM STYLES*/

/* ADDPOST PAGE STYLES*/

.addPost_title {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	color: rgb(19, 17, 17);
}

/* FEATURED POSTS STYLES */

.posts {
	display: flex;
	align-items: center;
}

.questions {
	/* border: 1px solid skyblue; */
	border-radius: 8px;
	padding: 8px;
	margin-top: 12px;
}

span {
	padding: 0 20px;
}

hr {
	margin: 4px 0;
	border-style: solid;
	opacity: 0.1;
}

.btn_delete {
	justify-content: center;
	border: none;
	/* width: 20%; */
	border-radius: 5px;
	color: rgb(255, 255, 255);
	background-color: #f44336;
	padding: 8px 20px;
	font-size: 14px;
	/* position: relative;
	left: 26%; */
}

/* VIEW POST PAGE STYLES*/

pre {
	background-color: #eaeaea;
	white-space: pre-line;
}

#textarea {
	width: 100%;
}

/* FEATURED POSTS STYLES */

.featured_container {
	padding-left: 10px;
	height: 544px;
}

.footer-container {
	position: relative;
	bottom: 0;
	width: 100%;
	/* height: 60px; */
	background-color: dodgerblue;
	display: flex;
	color: #fff;
}

.footer-container>div {
	margin: 10px;
	text-align: center;
	font-size: 16px;
	height: 60px;
	width: 30%;
	padding-left: 24px;
	display: flex;
	align-items: center;
}

.fa_btn {
	color: #fff;
	padding: 8px;
}

.icons {
	display: flex;
	justify-content: flex-end;
}

/* ---login page styles --- */

body.login-body {
	font-family: "Roboto";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h2.login-title {
	margin: 0 0 20px;
	line-height: 1;
	font-size: 20px;
	text-align: center;
}

input.input-login {
	outline: none;
	display: block;
	width: 100%;
	margin: 0 0 20px;
	padding: 10px 15px;
	border: 1px solid #ccc;
	color: #ccc;
	/* font-family: "Roboto"; */
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: 0.2s linear;
	border-radius: 3px;
}

.form input:focus {
	color: #333;
	border: 1px solid #44c4e7;
}

button.login-btn {
	cursor: pointer;
	text-align: center;
	background: #07c;
	padding: 12px 40px;
	border: 0;
	color: #fff;
	font-size: 16px;
	border-radius: 4px;
	margin: 0 auto;
	display: block;
}

.form button:hover {
	background: #369cb8;
}

span.forgot {
	float: right;
}